<!-- <!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="utf-8">
  <title>Hämta ett state-värde</title>
  <meta content="initial-scale=1, width=device-width" name="viewport">
</head>

<body>
  <div id="app">
    <some-component></some-component>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/vuex@4"></script>
  <script src="index.js"></script>
</body>

</html> -->



<!-- ONGOING VG UPPGIFT
<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>submit (VG)</title>
    <meta content="initial-scale=1, width=device-width" name="viewport">
  </head>
  <body>
    <div id="app">
      <form @submit="onSubmit">
        <input v-model="userName">
        <input :disabled="userName.length === 0" type="submit" value="Spela">
      </form>
      <p v-if="message !== null">{{ message }}</p>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="index.js"></script>
  </body>
</html> -->
